<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Fintech will ‘change the nature of money’</string>
		<key>author</key>
		<string>Tom Knowles</string>
		<key>date</key>
		<string>June 18th 2016, 12:01am</string>
		<key>body</key>
		<string>Financial technology companies will change the nature of money, shake the foundations of central banking and “deliver nothing less than a democratic revolution for all who use financial services”, according to the governor of the Bank of England.

Mark Carney has said that the Bank will establish a unit to work with financial technology companies to find new ways to tackle problems faced by central bankers, such as cyberdefence and how to use data more effectively.

The Bank hopes to encourage innovation in financial technology, or “fintech”, by working with tech-focused financial companies that are designing cybersecurity programmes and new payment systems.

Mr Carney was due to announce the fintech accelerator in his annual speech at Mansion House on Thursday. However, after the death of Jo Cox, Mr Carney did not deliver the scheduled speech and instead paid tribute to the MP, describing her as a “remarkable person [who] dedicated her life to helping others”.

Fintech companies have sprung up mostly since the financial crisis as distrust among traditional lenders and out-of-worker bankers looking for a new challenge led to innovative online businesses that aimed to solve some of the problems in finance.

Such ideas have attracted the attention of the Bank of England as it looks to adapt to changing habits around using money. Mr Carney said that consumers wanted payments to be completed seamlessly within seconds while governments wanted to be able to process larger and more complex bulk payments across multiple currencies and countries. He added: “Fintech should neither be the Wild West nor strangled at birth. The Bank is devoting considerable resources to ensure whatever develops is sustainable, not ephemeral.”

Andrew Hauser, executive director for banking, payments, and financial resilience at the Bank of England, said in April that central banks needed to embrace new technology. “The change is going to happen whether we like it or not,” he said. “We have to ensure we adapt as well. If we don’t do so, effectively we might not be able to do our jobs. Central banks, just like everyone else, can’t afford to be Uber’d.”</string>
		<key>url</key>
		<string>fintech.m4a</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Google’s DeepMind AI fakes some of the most realistic human voices yet.</string>
		<key>author</key>
		<string>Adi Robertson</string>
		<key>date</key>
		<string>September 9th 2016, 10:44am</string>
		<key>body</key>
		<string>Google’s DeepMind artificial intelligence has produced what could be some of the most realistic-sounding machine speech yet. WaveNet, as the system is called, generates voices by sampling real human speech and directly modeling audio waveforms based on it, as well as its previously generated audio. In Google’s tests, both English and Mandarin Chinese listeners found WaveNet more realistic than other types of text-to-speech programs, although it was less convincing than actual human speech. If that weren’t enough, it can also play the piano rather well.

Text-to-speech programs are increasingly important for computing, as people begin to rely on bots and AI personal assistants like Apple’s Siri, Microsoft’s Cortana, Amazon’s Alexa, and the Google Assistant. If you ask Siri or Cortana a question, though, they’ll reply with actual recordings of a human voice, rearranged and combined in small pieces. This is called concatenative text to speech, and as one expert puts it, it’s a little like a ransom note. The results are often fairly realistic, but as Google writes, producing a new audio persona or tone of voice requires having an actor record every possible sound in a database.

The alternative is parametric text to speech — building a completely computer-generated voice, using coded rules based on grammar or mouth sounds. Parametric voices don’t need source material to produce words. But the results, at least in English, are often stilted and robotic.
Google’s system is still based on real voice input. But instead of chopping up recordings, it learns from them, then independently creates its own sounds in a variety of voices.
Actually, that’s not quite right. On its own, WaveNet only knows a language’s sounds, not its content. Fire it up, and it produces pleasing yet mysterious nonsense, complete with human-like pauses and breath sounds. For meaningful speech, Google shapes the results with linguistic rules and suggestions.

WaveNet isn’t going to be showing up in something like Google Assistant right now — its step-by-step processing system requires a comparatively huge amount of computing power. </string>
		<key>url</key>
		<string>google-deepmind.m4a</string>
	</dict>
	<dict>
		<key>title</key>
		<string>First-time buyers face even tougher challenge</string>
		<key>author</key>
		<string>Harry Wilson</string>
		<key>date</key>
		<string>September 19th 2016, 12:01am</string>
		<key>body</key>
		<string>The property market has continued to recover since the Brexit vote, with prices rising this month amid renewed warnings about the difficulties facing first-time buyers trying to get a foot on the housing ladder.

Figures from Rightmove, the property website, show that average asking prices have hit £306,499 in September, a rise of 0.7 per cent month-on-month and up 4 per cent compared with the same time last year.

The rise was particularly acute among the smaller properties most attractive to new buyers, where prices rose 3.3 per cent this month to £194,477, an annual increase of 10.5 per cent.
New buyers are now being asked to pay nearly £20,000 more than they were a year ago to get the keys to their first home, raising fears about more people being excluded from the property market.
Miles Shipside, principal housing market analyst at Rightmove, said that first-time buyers were finding it increasingly hard to find an affordable property, with factors such as the rise in stamp duty on buy-to-let earlier in the year contributing to an initial glut in sales ahead of the changes, followed by a dearth of suitable homes.

“This rising tide of prices is marooning more and more first-time buyers, outstripping their ability to meet stricter lending criteria and afford the required deposits and monthly payments,” Mr Shipside said.

Among “second-steppers” looking to move on from their first home, asking prices rose at a slightly below average 0.5 per cent this month, or 5.2 per cent year-on-year, to £258,836.
Brian Murphy, head of lending at Mortgage Advice Bureau, said that while homes were more expensive post-the Brexit vote, low interest rates meant that mortgages were cheaper than ever. “For those looking to get on the ladder or trade up, whilst prices have increased there are a number of record low product rates available at the moment, with lenders very much ‘open for business’ and many repricing downwards or offering more flexible lending criteria in an effort to win new customers,” Mr Murphy said.</string>
		<key>url</key>
		<string>first-time-buyers.m4a</string>
	</dict>
</array>
</plist>
